
<div class="hero-unit">Travel Hacker</div>
<div class="row span8 offset2 plans">
  <div class="span2 well">
    <div class="plan"><h2>Standard</h2></div>
      <ul class="unstyled">
        <li>This is a free plan</li>
      </ul>
      <h3>Dont cost shit</h3>
      <%= link_to "Subscribe", new_user_registration_path(:plan => 'standard'), 
        :class => 'btn btn-primary' %>
    </div>
    <div class="span2 well featured">
      <div class="plan featured-plan"><h2>Plus</h2></div>
      <ul class="unstyled">
        <li>All Access</li>
      </ul>
      <h3>$9.95/month</h3>
      <%= link_to "Subscribe", new_user_registration_path(:plan => 'plus'),
        :class => 'btn btn-primary' %>
    </div>
  </div>
</div>
